<div class='new-version field'>
  <div class='input__upload'>
  	<%= vf.label :document do %>
	  	Choose file
	  	<%= vf.file_field :document %>
  	<% end %>
  	<div class='input__upload__filename'>
  		<% if vf.object.document_cache_name %>
  			<p><%= vf.object.document_cache_name %> will be added when you click Update</p>
  		<% end %>
  	</div>
  </div>

  <% vf.object.errors.messages.values.flatten.each do |error| %>
    <div class='error'>
      <p><%= error %></p>
    </div>
  <% end %>
  
  <%= vf.hidden_field :document_cache %>
</div>