<% if form %>
  <div class='item not-sortable'>
    <%= form_for form, url: admin_part_sections_path do |f| %>
      <div class='input__text'><%= f.text_field :title %></div>
      <% if f.object.errors.messages[:title] %>
        <% f.object.errors.messages[:title].each do |error| %>
          <div class='error'>
            <p><%= error %></p>
          </div>
        <% end %>
      <% end %>
      <div class='actions actions__left'><%= f.submit 'Create', class: 'button button__small' %></div>
    <% end %>
  </div>
<% else %>
  <div class='item not-sortable error'><%= error %></div>
<% end %>
