<div class='js-class-admin-edit-section-page' />


<%= form_for form, url: admin_part_section_path, method: :patch do |f| %>

  <div class='fieldset'>
    <div class='field'>
      <div class='input__label'><%= f.label :title, 'Title' %></div>
      <div class='input__text'><%= f.text_field :title %></div>
      <% f.object.errors[:title].each do |error| %>
        <div class='error'>
          <p><%= error %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class='fieldset'>
    <div class='input__label'>Versions</div>
    <div>
      <%= f.fields_for :versions, include_id: false do |vf| %>
        <% if vf.object.id %>
          <%= render('existing_version_form', vf: vf) %>
        <% elsif vf.object.document_cache || vf.object.errors.present? %>
          <%= render('new_version_form', vf: vf) %>
          <%= link_to 'Undo', '#', id: 'add_new_version_toggle', data: {closed: false, form: render('new_version_form', vf: vf)} %>
        <% else %>
          <%= link_to 'Add new version', '#', id: 'add_new_version_toggle', data: {closed: true, form: render('new_version_form', vf: vf)} %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='actions'>
    <%= f.submit 'Update' %>
  </div>

<% end %>
