<div class='menu' data-js-component='animatedNav'>
  <% @parts.each do |part| %>
  	<div class="menu__section" data-animated-nav-target="section">
      <div class="menu__item <%= 'active' if current_page == part %>" data-animated-nav-target="item">
        <%= link_to part_path(part) do %>
    	    <li 
            class="menu__section-header" 
            data-animated-nav-target="sectionHeader link">
            <%= part.title %>
          </li>
        <% end %>

        <div class="arrow arrow-left standard"></div>
      </div>

	    <% part.sections_by_position.each do |section| %>
	    	<div class="menu__item <%= 'active' if current_page == section %>" data-animated-nav-target="item">
	    		<%= link_to part_section_path(part_id: part, id: section) do %>
		    		<li 
              class="menu__item-with-header" data-animated-nav-target="linkWithHeader link">
		    			<%= section.title %>	
		    		</li>
		    	<% end %>

	    		<div class="arrow arrow-left standard"></div>
	    	</div>
	    <% end %>
	  </div>
  <% end %>

  <div 
    class="menu__section menu__item <%= 'active' if current_page == :about %>" 
    data-animated-nav-target="section item">
  	<%= link_to about_path do %>
  		<li class="menu__section-header" data-animated-nav-target="sectionHeader link">
        About
      </li>
  	<% end %>
  	<div class="arrow arrow-left standard"></div>
  </div>
</div>
