<ul class='menu'>
  <% @parts.each do |part| %>
  	<div class='menu__section'>
	    <li class='menu__section-header' data-id='<%= part.id %>'><%= part.title %></li>
	    <% part.sections.each do |section| %>
	    	<div class="menu__link">
	    		<%= link_to part_section_path(part_id: part, id: section) do %>
		    		<li data-parent-id='<%= part.id %>'>
		    			<%= section.title %>	
		    		</li>
		    	<% end %>
	    		<div class="arrow arrow-left <%= 'active' if current_section == section %> standard"></div>
	    	</div>
	    <% end %>
	  </div>
  <% end %>
</ul>
