<!DOCTYPE html>
<html>
  <head>
    <%= render('head') %>
  </head>

  <body>
    <div class='flash-alert'>
      <%= flash[:alert] %>
    </div>

    <main class='admin'>
      <%= yield %>
    </main>

    <aside class='admin'>
      <%= render('admin/navigation') %>
    </aside>

    <%= link_to 'TO MAIN AREA', part_sections_path(Part.first), class: 'button to-main' %>
  </body>
</html>
