<!DOCTYPE html>
<html class='no-js'>
  <head>
    <%= render('head') %>
  </head>

  <body>
    <%= render('flash') %>

    <main class='admin'>
      <%= yield %>
    </main>

    <aside class='admin'>
      <%= render('admin/navigation') %>
    </aside>

    <%= link_to 'TO MAIN AREA', part_sections_path(Part.first), class: 'button button__primary to-main' %>
  </body>
</html>
