<!DOCTYPE html>
<html class='no-js'>
  <head>
    <%= render('head') %>
  </head>

  <body>
    <div class='flash-alert'>
      <%= flash[:alert] %>
    </div>

    <aside class='standard'>
      <%= render('navigation') %>
    </aside>

    <main class='standard'>
      <%= yield %>
    </main>

    <%= link_to 'TO ADMIN AREA', admin_part_sections_path, class: 'button button__primary to-admin' %>
  </body>
</html>
