<!DOCTYPE html>
<html class='no-js'>
  <head>
    <%= render('head') %>
  </head>

  <body data-js-component='menuToggle'>
    <div class='flash-alert'>
      <%= flash[:alert] %>
    </div>

    <aside class="standard <%= content_for(:aside_class) %>" data-menu-toggle-target='menu'>
      <div class="menu-toggle menu-toggle--left <%= content_for(:menu_toggle_hide_class) || 'menu-toggle--active' %>" data-menu-toggle-target='hide'>
        <i class='material-icons menu-toggle__icon' data-menu-toggle-target='hideButton'>
          menu_open
        </i>
      </div>

      <%= render('navigation') %>
    </aside>

    <main class="standard <%= content_for(:main_class) %>" data-menu-toggle-target='content'>
      <div class="menu-toggle menu-toggle--right <%= content_for(:menu_toggle_show_class) || 'menu-toggle--inactive' %>" data-menu-toggle-target='show'>
        <i class="material-icons menu-toggle__icon" data-menu-toggle-target='showButton'>
          menu_open
        </i>
      </div>

      <%= yield %>
    </main>

    <% if admin_access? %> 
      <%= link_to 'TO ADMIN AREA', admin_part_sections_path(params[:part_id] || 1), class: 'button button__primary to-admin' %>
    <% end %>
  </body>
</html>
